mixin messageHTML(userClass, {created_timestamp, sender, text})
    li(class=userClass)
        .app--avatar(style=`background-image: url(${sender.profile_image_url_https})`)
        p.app--message--text= text
        p.app--message--timestamp= timestamp

each conversation in conversations
    li
        h3 Conversation with 
            a= conversation.contact.name
        ul.app--message--conversation
            each message in conversation.messages
                if (message.isSenderUser) 
                    +messageHTML('app--message--me', message)
                else
                    +messageHTML('app--message', message)
